---
import Layout from '@/layouts/Layout.astro'

import Hero from '@/components/sections/Hero.astro'
import About from '@/components/sections/About.astro'
import Education from '@/components/sections/Education.astro'
import Experience from '@/components/sections/Experience.astro'
import Projects from '@/components/sections/Projects.astro'
import Skills from '@/components/sections/Skills.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import { basics, projects, skills, education, work } from '@cv-es'
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
	<main>
		<Hero title="Portafolio" basics={basics} />
		<About title="Sobre mi" basics={basics} />
		<Experience title="Experiencia" defaultDate="Actual" work={work} />
		<Education title="Educación" defaultDate="Actual" education={education} />
		{projects.length > 0 && <Projects title="Proyectos" projects={projects} />}
		<Skills title="Habilidades", skills={skills} />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
